<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:reference id="messageDecodeService" interface="com.zcbspay.platform.support.signaturn.service.MessageDecodeService" check="false" version="1.0"/>
	<dubbo:reference id="messageEncryptService" interface="com.zcbspay.platform.support.signaturn.service.MessageEncryptService" check="false" version="1.0"/>
	<dubbo:reference id="batchCollection" interface="com.zcbspay.platform.business.concentrate.batch.service.BatchCollection" check="false" version="1.0"/>
	<dubbo:reference id="batchPayment" interface="com.zcbspay.platform.business.concentrate.batch.service.BatchPayment" check="false" version="1.0"/>
	<dubbo:reference id="queryOrderService" interface="com.zcbspay.platform.business.order.service.OrderQueryService" check="false" version="1.0"/>
	<dubbo:reference id="merchMKService" interface="com.zcbspay.platform.member.merchant.service.MerchMKService" check="false" version="1.0"/>
	<dubbo:reference id="contractService" interface="com.zcbspay.platform.business.merch.service.ContractBizService" check="false" version="1.0"/>
</beans>